[package]
name = "http-api"
{{default.package}}

[dependencies]
{{deps.projects.api}}
{{deps.projects.model}}
{{deps.projects.database}}

{{deps.sea-orm}}
{{deps.sea-orm-rocket}}
{{deps.rocket}}
{{prelude_deps}}
